@model Contact
@{
    ViewData["Title"] = "Contáctanos";
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="text-center">@ViewData["Title"]</h1>

            <form method="post" asp-action="ContactCreate">
                <div class="form-group">
                    <label asp-for="Name">Nombres:</label>
                    <input asp-for="Name" class="form-control" autofocus />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName">Apellidos:</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Correo:</label>
                    <input asp-for="Email" class="form-control" placeholder="ejemplo@ejemplo.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Telefono:</label>
                    <input asp-for="Phone" class="form-control" placeholder="999999999" maxlength="9" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message">Mensaje:</label>
                    <textarea asp-for="Message" class="form-control"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
