@using Microsoft.AspNetCore.Identity
@using System.Collections.Generic;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{   
    Console.WriteLine(User.IsInRole("Admin"));
    @if(User.IsInRole("Admin") || User.IsInRole("Operator"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="CatalogList">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Mensajes</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-controller="Payment" asp-action="Index">Pagos</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-controller="Order" asp-action="OrderList">Pedidos</a>
        </li>
    }
    else
    {
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-controller="Order" asp-action="Index">Pedidos</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-controller="Proforma" asp-action="Index">Carrito</a>
    </li>
    }
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Cerrar Sesion</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesion</a>
    </li>
}
</ul>
