@model Category
@{
    ViewData["Title"] = "Creación de Categorias";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <form method="post" asp-action="CategoryCreate">
                <div class="form-group">
                    <label asp-for="Code">Código:</label>
                    <input asp-for="Code" class="form-control" autofocus />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name">Nombre:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Crear Categoria</button>
                </div>
            </form>
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
