@{
    ViewData["Title"] = "Mensaje de Login";
}

<div class="container">
    <div class="text-center">
        <h3>!Hola! Para agregar al carrito, ingresa a tu cuenta</h3>
        <div>
            <button class="btn btn-primary">Crear Cuenta</button>
        </div>
        <div>
            <button class="btn btn-light">Ingresar</button>
        </div>
    </div>
</div>
