@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="media-container-row">
        <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
            <p>Somos una empresa dedicada a la comercialización de productos de entretenimiento, de capital 100% peruano, con tiendas física en uno de los principales puntos estratégicos en Lima y con cobertura a nivel nacional mediante nuestra página web.</p>

            <p><strong>Visión de EShop Ecommerce Store:</strong></p>

            <p>Ser la plataforma retail de la industria del entretenimiento electrónico, coleccionables y afines a la cultura pop en el Perú, buscando generar valor en la experiencia de compra de nuestros clientes.</p>

            <dt>Misión de EShop Ecommerce Store:</dt>

            <p>Convertirnos en la marca líder en la industria del entretenimiento, coleccionables y afines a la cultura pop, llevando experiencias y servicio diferenciado al hogar de nuestros clientes.</p>

            <p><strong>Propósito:</strong></p>

            <p>Excelencia en el servicio en cada uno de los puntos de contacto entre EShop Ecommerce Store y sus clientes, buscando experiencias positivas de compra; sin perder de vista la rentabilidad del negocio que garantice la continuidad en el tiempo.</p>
        </div>
    </div>
</div>
